html {
	font-family: 'San Francisco', serif;
}

a:link {
    text-decoration: none;
    color:#175A62;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
    color:#0E8341;
}
a:visited {
    color:blue;
}

/* fonts */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff"); }
/* Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff"); }
/* Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff"); }


 .name {
 	text-align:center;
  color:BLACK;
 }

 .boundary {
  width:0.0001;
  background-color:#555555;
 }
 .bound-width {
  width:30;
 }

 .subname {
 	text-align:center;
 	margin:0;
  color:transparent;
 }
 .subname:hover{
  text-decoration:underline;
 }


 /*v categories*/
 .environmental { }
 .environmental-link:hover {
  color:#008238;
  cursor:pointer;
 }
 .environmental-active {
  color:#008238;
 }
 .contains-environmental { }


 .csc { }
 .csc-link:hover {
  color:#7F001B;
  cursor:pointer;
 }
 .csc-active {
  color:#7F001B;
 }
 .contains-csc { }

 .philosophy { }
 .philosophy-link:hover {
  color:#009E96;
  cursor:pointer;
 }
 .philosophy-active {
  color:#009E96
 }
 .contains-philosophy { }

 .leadership { }
 .leadership-link:hover {
  color:#6B177A;
  cursor:pointer;
 }
 .leadership-active {
  color:#6B177A
 }
 .contains-leadership { }

 /*^ categories*/

 /*next color: #E03616*/


 .outer-container {
  display:flex;
  flex-direction:row;
 }

 .right-half {
  height:100%;
  color:#1C0F13;
  background-color:#CACACA ;
  overflow:scroll;
 }

 .right-half h2 {

 }

 .left-half {
  flex:1.1;
  height:100%;
  /*background-color:#716E66;*/
  background-image: url("../images/NNPic.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  color:WHITE;
 }

 .left-half > h1 {
  margin-top:140;
 }


.main-resume {
  margin-left:20pt;
}


.position {
    display:flex;
    width:100%;
    margin-left:10px;
}

.position > div {
    width:100%;
    margin-left:10px;
}

.position > div > h2 {
    margin:0;
}

.position-date {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.position-role {
    font-size:20px;
    margin-top:10px;
    margin-bottom:10px;
}

.position-image {
    width:100px;
    height:100px;">
}

.giveWidth {
  flex:2;
}

.noWidth {
  flex:0.0001;
}

.bluemarker{

}

.blue {
  color:BLUE;
}

.black {
  color:#1C0F13;
}

.flexbox {
  display: flex;
  flex-direction: row;
  border: 1px solid #000000;
}

.flex-item  {
  flex: 0.000001;
/*  border-left: 1px solid #000000;
*/  transition: all 2000ms cubic-bezier(0.65, 0, 0.44, 0.99);
}

.flex-item:first-child {
  border-left: none;
}

.hover-collapse-item {
  white-space: nowrap;
  background: rgba(150, 0, 150, .3);
}
.flexbox:hover .hover-collapse-item {
  /* 0 does not work so we have to use a small number */
  flex: .00001;
}

.new-item {
  /* 0 does not work so we have to use a small number */
  /* Start our small */
  flex: .00001;
  padding-right:8%;

  /*background: rgba(0, 0, 0, .4);*/

  -webkit-animation: flexGrow 5000ms ease forwards;
  -o-animation: flexGrow 5000ms ease forwards;
  animation: flexGrow 2000ms ease forwards;
}

.list_body {
  margin-left:40;
}

.remove-item {
  flex: 1;

  -webkit-animation: flexShrink 500ms ease forwards;
  -o-animation: flexShrink 500ms ease forwards;
  animation: flexShrink 500ms ease forwards;
}

.fade-text {
    text-align: center;
    color:WHITE;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.msg_head:hover {
    text-decoration: underline;
    cursor:default;
}
.msg_body {
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-webkit-keyframes flexGrow {
  to {
    flex: 2;
  }
}
@-o-keyframes flexGrow {
  to {
    flex: 2;
  }
}
@keyframes flexGrow {
  to {
    flex: 2;
  }
}

@-webkit-keyframes flexShrink {
  to {
    flex: .01;
    flex: .00001;
  }
}
@-o-keyframes flexShrink {
  to {
    flex: .01;
    flex: .00001;
  }
}
@keyframes flexShrink {
  to {
    flex: .01;
    flex: .00001;
  }
}